<{include file='db:admin_top.html'}>
<p>&nbsp;</p>
<form action="processConfig.php?action=modify" method="post" name="frmConfig" id="frmConfig">
 <table width="100%" border="0" cellspacing="1" cellpadding="2" class="entryTable">
  <tr id="entryTableHeader"> 
   <td colspan="2">Shop Configuration</td>
  </tr>
  <tr> 
   <td width="150" class="label">Shop Name</td>
   <td class="content"><input name="txtShopName" type="text" class="box" id="txtShopName" value="<{$sc_name}>" size="50" maxlength="50"></td>
  </tr>
  <tr> 
   <td width="150" class="label">Address</td>
   <td class="content"><textarea name="mtxAddress" cols="50" rows="3" id="mtxAddress" class="box"><{$sc_address}></textarea></td>
  </tr>
  <tr> 
   <td width="150" class="label">Telephone</td>
   <td class="content"><input name="txtPhone" type="text" class="box" id="txtPhone" value="<{$sc_phone}>" size="30" maxlength="30"></td>
  </tr>
  <tr> 
   <td class="label">Email</td>
   <td class="content"><input name="txtEmail" type="text" class="box" id="txtEmail" value="<{$sc_email}>" size="30" maxlength="100"></td>
  </tr>
 </table>
 <p>&nbsp;</p>
 <table width="100%" border="0" cellspacing="1" cellpadding="2" class="entryTable">
  <tr id="entryTableHeader"> 
   <td colspan="2">Misc. Configuration</td>
  </tr>
  <tr> 
   <td width="150" class="label">Currency</td>
   <td class="content"><select name="cboCurrency" id="cboCurrency" class="box">
	<{$currency}>
    </select>   </td>
  </tr>
  <tr> 
   <td width="150" class="label">Shipping Cost</td>
   <td class="content"><input name="txtShippingCost" type="text" class="box" id="txtShippingCost" value="<{$sc_shipping_cost}>" size="5"></td>
  </tr>
  <tr>
    <td class="label">Send Email on New Order </td>
    <td class="content"><input name="optSendEmail" type="radio" value="y" id="optEmail" <{$sc_order_email_yes}>>
      <label for="optsEmail">Yes </label>
      <input name="optSendEmail" type="radio" value="n" id="optNoEmail" <{$sc_order_email_no}>>
      <label for="optNoEmail">No</label></td>
  </tr>
 </table>
 <p align="center"> 
  <input name="btnUpdate" type="submit" id="btnUpdate" value="Update Config" class="box">
 </p>
</form>
<{include file='db:admin_bot.html'}>
