<{include file='db:plain_header.html'}>
<p>&nbsp;</p><table width="500" border="0" align="center" cellpadding="1" cellspacing="0">
   <tr> 
      <td align="left" valign="top" bgcolor="#333333"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr> 
               <td align="center" bgcolor="#EEEEEE"> <p>&nbsp;</p>
                        <p>Thank you for shopping with us! We will send the purchased 
                            item(s) immediately. To continue shopping please <a href="index.php">click 
                            here</a></p>
                  <p>Mail response:<{$mail_response}></p></td>
            </tr>
         </table></td>
   </tr>
</table>
<br>
<br>
<{include file='db:plain_footer.html'}>